@font-face
{
  font-family: title
  src url("../../public/font/font2.ttf")
}
.login
  user-select none
  color: white
  font-family: title
  background: url("../../public/img/bg.jpg") no-repeat center center
  background-size: 100% 100%
  position absolute
  left 0
  right: 0
  top 0
  bottom: 0
  .login_title,.login_btn,.login_account,.login_password,.login_account_name,.login_password_name
    position absolute
    left 50%
    top: 50%
    font-size: 30px
  .login_title
    min-width 680px
    height: 60px
    font-size: 50px    
    transform: translate(-50%,-400%)
  .login_password,.login_account
    color white
    background: none 
    border: none
    border-bottom: 1px solid white  
    width: 300px
    outline-style: none
    caret-color: white
  .login_account_name
    transform: translate(-240%,-200%)
  .login_account
    transform: translate(-50%,-176%)
  .login_password_name
    transform: translate(-272%,60%)
  .login_password
    transform: translate(-50%,30%)
  .login_btn
    transform: translate(200%,300%)
    background-color: #2c4d3a
    border: none
    color: white
    

  
     

